<div class="row">
	<div class="col-md-12">
		<table class="table table-striped" ng-init="listaClientes()">
      <thead>
        <th>#</th>
        <th>Nome</th>
        <th>Telefone</th>
        <th>Endereço</th>
      </thead>
      <tbody>
        <tr>
          <tr dir-paginate="cliente in clientes|itemsPerPage:8">
            <td>{{cliente.id}}</td>
            <td>{{cliente.nome}}</td>
            <td>{{cliente.telefone}}</td>
            <td>{{cliente.endereco}}</td>
          </tr>
        </tr>
      </tbody>
    </table>
  </div>
</div>